@page "{id:int}"
@model EditProductModel
@{
    ViewData["Title"] = "Edit Product";
}

@if (!HttpContext.Session.GetInt32("id").HasValue || HttpContext.Session.GetInt32("role") == 2)
{
    <div class="alert alert-danger" role="alert">
        You are not logged in or not authorized.
    </div>
}
else if (HttpContext.Session.GetInt32("id").HasValue && HttpContext.Session.GetInt32("role") == 1)
{
    <h3>Item - Edit</h3>
    <hr />
    <div>
        Here can you edit a item.
        <hr />
    </div>
    @if (@Model.Item != null)
    {
        <form method="post" asp-page-handler="UpdateProduct">

            <div class="mb-3">
                <label class="form-label">Id</label>
                <input type="text" class="form-control" asp-for="Item.Id" readonly>
            </div>

            <div class="mb-3">
                <label class="form-label">ProductName</label>
                <input type="text" class="form-control" asp-for="Item.ItemName">
            </div>

            <div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" asp-for="Item.Description">
            </div>

            <div>
                <label class="form-label">Category</label>
                <select class="form-select" asp-for="Item.CategoryId">
                    @if (Model.Item.CategoryId == null)
                    {
                        <option selected>Select a category</option>
                    }
                    else
                    {
                        <option value="@Model.Item.CategoryId" selected>@Model.Category.CategoryName</option>
                    }
                    @if (Model.Categories != null && Model.Categories.Any())
                    {
                        foreach (var role in Model.Categories)
                        {
                            <option value="@role.Id">@role.CategoryName</option>
                        }
                    }
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Stock</label>
                <input type="text" class="form-control" asp-for="Item.Stock">
            </div>

            <div class="mb-3">
                <label class="form-label">Price</label>
                <input type="number" class="form-control" asp-for="Item.Price">
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Update</button>
                <a class="btn btn-danger" href='/Admin/Products/Products'>Cancel</a>

                @if (Model.SuccessMessage != null)
                {
                    <div><span class="text-success">@Model.SuccessMessage</span></div>
                }
                else if (Model.ErrorMessage != null)
                {
                    <div><span class="text-danger">@Model.ErrorMessage</span></div>
                }
            </div>
        </form>
    }
    else
    {
        <div class="alert alert-primary" role="alert">
            No item found.
        </div>
    }
}
